@import "tailwindcss";

@theme {
  --color-blue-950: #242a45;
  --color-blue-600: #5267df;
  --color-grey-600: #5b6074;
  --color-grey-50: #f7f7f7;
  --color-red-400: #fa5959;
  --color-blue-950-50: rgba(36, 42, 69, 0.5);
  --color-blue-950-75: rgba(36, 42, 69, 0.75);
  --color-blue-950-95: rgba(36, 42, 69, 0.95);
  --color-list-border: rgba(73, 93, 207, 0.2);
  --color-white-15: rgba(255, 255, 255, 0.15);

  --font-sans: Rubik, sans-serif;

  --text-p1-mobile: 30px;
  --text-p2-mobile: 15px;
  --text-p3-mobile: 12px;
  --text-p4-mobile: 10px;
  --text-p1: 48px;
  --text-p2: 32px;
  --text-p3: 20px;
  --text-p4: 18px;
  --text-p5-light: 16px;
  --text-p5-reg: 16px;
  --text-p6: 14px;
  --text-p6-semi: 14px;
  --text-p7: 10px;
  --text-install-card: 24px;
  --letter-spacing-p2-desk: -0.1px;
  --letter-spacing-p3-desk: 0.25px;
  --letter-spacing-p5-desk: 0.5px;
  --letter-spacing-p3-mobile: 5px;
  --font-weight-medium: 500;
  --font-weight-normal: 400;
}

@layer base {
  body {
    font-family: var(--font-sans);
  }
  h1,
  h2 {
    font-size: var(--text-p1-mobile);
    font-weight: var(--font-weight-medium);
    color: var(--color-blue-950);
    line-height: 135%;
  }
  h3 {
    font-size: var(--text-install-card);
    line-height: 200%;
    font-weight: var(--font-weight-medium);
    color: var(--color-blue-950);
  }
  h4 {
    font-size: var(--text-p3-mobile);
    line-height: 300%;
    letter-spacing: var(--letter-spacing-p3-mobile);
    color: white;
  }
  p,
  li {
    font-size: var(--text-p2-mobile);
    font-weight: 400;
    line-height: 165%;

    color: var(--color-blue-950-50);
  }
  li {
    color: var(--color-blue-950);
    cursor: pointer;
  }
  li:hover {
    color: var(--color-red-400);
  }
  details summary::-webkit-details-marker {
    display: none;
  }
  details summary::marker {
    display: none;
  }

  @media (min-width: 768px) {
    h1 {
      font-size: var(--text-p1);
    }
    h2 {
      font-size: var(--text-p2);
    }
    h3 {
      font-size: var(--text-p3);
    }
    h4 {
      font-size: var(--text-p4);
    }
    p,
    li {
      font-size: var(--text-p4);
    }
  }
}
@layer components {
  .btn-primary {
    @apply w-full h-12 flex items-center justify-center py-3.5 px-2.5 font-medium text-p2-mobile text-white rounded-md cursor-pointer;
  }

  .features-element {
    @apply relative border-b border-list-border h-full flex items-center justify-center text-blue-950-75 md:border-none md:items-start hover:text-red-400;
  }

  .install-card {
    @apply flex flex-col items-center w-full gap-8 p-8 rounded-[15px] shadow-xl md:p-6 md:gap-4;
    box-shadow: 0px 10px 20px -5px var(--color-list-border);
  }

  .details-container {
    @apply border-t border-solid border-[var(--color-list-border)];
  }

  .details-container summary {
    @apply flex items-center text-start justify-between gap-4 py-4 cursor-pointer list-none text-blue-950 text-p2-mobile md:text-p4 hover:text-red-400;
  }

  .details-container summary svg {
    @apply transition-transform duration-300 stroke-[#5267DF];
  }

  .details-container[open] summary svg {
    @apply rotate-180 stroke-red-400;
  }
  .icon-arrow {
    width: 18px;
    height: auto;
  }
  .details-container[open] summary {
    @apply text-red-400;
  }
  .features-element.active {
    @apply text-blue-950;
  }

  .features-element.active::after {
    content: "";

    @apply absolute bottom-0 left-1/2 transform -translate-x-1/2 
      w-40 h-1 bg-red-400;
  }
  .mobile-nav {
    @apply opacity-0 pointer-events-none invisible
    transition-opacity duration-300 ease-out
    absolute top-0 left-0 w-full h-full py-16 px-[8.5%] z-50 bg-blue-950-95 md:px-[10.4%];
  }

  .mobile-nav.open {
    @apply opacity-100 pointer-events-auto visible flex flex-col;
  }
  .menu-toggle.hidden {
    @apply hidden;
  }
  .nav-item {
    @apply text-white h-full w-full flex items-center justify-center border-t border-solid border-white-15;
  }
  .title,
  .content,
  .description-img {
    @apply transition-opacity duration-250 ease-in-out;
    opacity: 1;
  }
  .input-invalid {
    @apply border-solid border-[2px] border-[#FA5959];
  }

  .error-message {
    @apply bg-[#FA5959] text-white text-xs px-2 py-1.5 italic text-start;
  }

  .input-invalid-bottom-fix {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .input-success-border {
    @apply border-2 border-green-500;
  }

  .success-message {
    @apply bg-green-500 text-white text-xs px-2 py-1.5 italic;
  }
  .error-message,
  .success-message {
    position: absolute;
    top: 44px;
    left: 0;
    right: 0;
    z-index: 10;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
